body {
    background-image: url("../images/40kBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white;
    text-align: right;
    padding-right: 100px;
}
h2 {
    color: white;
    padding: 0px;
    margin: 0px;
}
img {
    height: 125px;
    width: 125px;
    object-fit: cover;
}
.card {
    width: 175px;
    height: 250px;
}
.player {
    color: black;
    background-color: lightskyblue;
}
.enemy {
    color: aliceblue;
    background-color: maroon;
}
.inactive {
    color: black;
    background-color: darkgray;
}